html{
    background: linear-gradient(to bottom right, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    width: 100%;
    height: 100%;
}

body{
    font-size: 17px;
    font-family: arial;
    line-height: 1.5em;
}

header{
    background:#333;
    color:#fff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

#container{
    width: 90%;
    margin: auto;
    padding: 10px;
    height: 100%;
}